    <form class="example-form">
      <mat-form-field class="example-full-width">
      <span matPrefix> </span>
      <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
      <button matSuffix mat-button><mat-icon >search</mat-icon></button>
      </mat-form-field>
      <span class="btn-actions">
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="accent">Accent</button>
      </span>
       </form>



