 .days-color{
    color: firebrick;
 }

 div{
  margin-bottom: 15px;
 }





 .Loyalty{
  position: absolute;
    right: 30px;
    top: 70px;
    border: 2px solid firebrick;
    text-align: center;
 }


 .padding-10{
  padding: 10px;
 }

