.mat-progress-spinner {
  margin-right: auto;
  margin-left: auto;
}

.my-card{
  width: 100%;
}
.mat-grid-tile{
  height: 100%;
  padding-top: 0px !important;
}

.mat-header-row{
  background-color: firebrick;
}
.mat-header-cell{
  color: white;
}


app-customer-info {
  margin: 5%;
}

.btn{
padding-left: 80px;
padding-right: 80px;
margin: 5px;
}
